
:root {
  --primary-color: #f13a11; 
  --white-color: #ffffff;
  --dark-color: #171819;
  --base-font-family: 'Plain', sans-serif;
  --font-weight-bold: bold;
  --font-weight-normal: normal;
  --font-weight-light: 300;
  --font-weight-thin: 100;
  --h1-font-size: 48px;
  --h2-font-size: 36px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --h5-font-size: 22px;
  --h6-font-size: 22px;
  --p-font-size: 18px;
  --base-font-size: 16px;
  --menu-font-size: 14px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

}

a
{
  text-decoration: none;
}


body 
{
  margin: 0;
  background-color:var(--white-color);
  
}

.navBar
{
  width: 20%;
  height: 100%;
  background-color: var(--dark-color);
  z-index: 1;
  position: fixed;
  text-align: center;
}

.navBar .logo-section
{
  width: 100%;
  height: 25%;
  text-align: center;
}

.navBar .logo-text
{
  display: block;
  color: var(--white-color);
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);
  margin-top: 8%;
}

.navBar i
{
  color: var(--white-color);
  font-size: 3rem;
  margin-top: 15%;
}

.navBar .buttons-section
{
  margin-top: 15%;
  width: 100%;
  height: 75%;
}

.buttons-section .button
{
  display: block;
  height: 10%;
  width: 100%;
  text-align: center;
  line-height: 45px;
  margin-top: 5%;
  color: var(--white-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-normal);
  font-family:  var(--font-family-sans-serif);
  text-transform: uppercase;
}


.buttons-section .logout
{
  height: 10%;
  width: 100%;
  position: relative;
  top: 8%;
  text-align: center;  
  line-height: 45px;
}


.buttons-section .button:hover
{
  background-color: var(--primary-color);
  transition: 0.3s;
}


.section-2 
{
  float: right;
  width: 80%;
  height: 100%;
  background-color: var(--white-color);
}

.section-2 .top 
{
  width: 100%;
  height: 15%;
  text-align: center;
  margin-bottom: 5%;
  position: fixed;
  background-color: inherit;
}

.section-2 .bottom 
{
  width: 100%;
  height: 90%;
  text-align: center;
  margin-top: 15%;
}

.section-2 .top h2
{
  color: var(--dark-color);
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);
  display: inline-block;
  margin-left: 10%;
}

.section-2 .top button
{
  background-color: var(--dark-color);
  font-weight: var(--font-weight-normal);
  font-family:  var(--font-family-sans-serif);
  font-size: 0.8rem;
  color: var(--white-color);
  border-radius: 5%;
  height: 1.6rem;
  margin: 4% 0 0 0;
  border-style: none;
}

.section-2 .top button:hover
{
  background-color: var(--primary-color);
}

.section-2 .top input
{
  background-color: var(--white-color);
  border: 2px solid var(--dark-color);
  color: var(--darj-color);
  border-radius: 5%;
  height: 1.5rem;
  margin: 4% 0 0 12%;
}

.section-2 .bottom .card{
  background-color: var(--dark-color);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 12.3rem;
  height: 12.3rem;
  margin: 2.3% 2.3% 2.3% 2.3%;
  float: left;
  border-radius: 2%;
}

.section-2 .bottom .card:hover{
  background-color: var(--primary-color);
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
  margin: 2.3% 2.6% 2.3% 2.6%;
  transition: 0.3s;
}

.section-2 .bottom .card:hover .curtain{
  opacity: 1;
  transition: 0.3s;
}

.section-2 .hero-image
{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70%;
  border-radius: 2%;
}

.section-2 .curtain
{
  width: 100%;
  height: 20%;
  border-radius: 2%;
  background-color: var(--dark-color);
  opacity: 0;
}


.section-2 .bottom h3
{
  color: var(--white-color);
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);
  text-transform: uppercase;
  margin: 2% 0 2% 0;
}

.section-2 .bottom .card i
{
  font-size: 1.2rem;
  color: #f13a11;
  opacity: inherit;
  margin: 3% 5% 0 5%;
}

.section-2 .bottom .card i:hover
{
  color: var(--white-color);
}




