
:root {
  --primary-color: #f13a11; 
  --white-color: #ffffff;
  --dark-color: #171819;
  --base-font-family: 'Plain', sans-serif;
  --font-weight-bold: bold;
  --font-weight-normal: normal;
  --font-weight-light: 300;
  --font-weight-thin: 100;
  --h1-font-size: 48px;
  --h2-font-size: 36px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --h5-font-size: 22px;
  --h6-font-size: 22px;
  --p-font-size: 18px;
  --base-font-size: 16px;
  --menu-font-size: 14px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

}

a
{
  text-decoration: none;
}


body 
{
  margin: 0;
  background-color:var(--white-color);
  
}

.navBar
{
  width: 20%;
  height: 100%;
  background-color: var(--dark-color);
  z-index: 1;
  position: fixed;
  text-align: center;
}

.navBar .logo-section
{
  width: 100%;
  height: 25%;
  text-align: center;
}

.navBar .logo-text
{
  display: block;
  color: var(--white-color);
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);
  margin-top: 8%;
}

.navBar i
{
  color: var(--white-color);
  font-size: 3rem;
  margin-top: 15%;
}

.navBar .buttons-section
{
  margin-top: 15%;
  width: 100%;
  height: 75%;
}

.buttons-section .button
{
  display: block;
  height: 10%;
  width: 100%;
  text-align: center;
  line-height: 45px;
  margin-top: 5%;
  color: var(--white-color);
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-normal);
  font-family:  var(--font-family-sans-serif);
  text-transform: uppercase;
}


.buttons-section .logout
{
  height: 10%;
  width: 100%;
  position: relative;
  top: 8%;
  text-align: center;  
  line-height: 45px;
}


.buttons-section .button:hover
{
  background-color: var(--primary-color);
  transition: 0.3s;
}


.section-2 
{
  float: right;
  width: 80%;
  height: 100%;
  background-color: var(--white-color);
}


.section-2 .top 
{
  width: 100%;
  height: 15%;
  text-align: left;
  margin: 0 0 5% 32%;
  position: fixed;
  background-color: inherit;
}


.section-2 .top h2
{
  color: var(--dark-color);
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);
  display: inline-block;
}


.timeTable
{
  margin: 15% 0 0 10%;
  width: 80%;
  height: 85%;
}

table
{
  width: 100%;
  height: auto;
}

 .days
{
  width: 14%;
  height: 3rem;
  background-color: var(--dark-color);
  color: var(--white-color);
  font-size: 17px;
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);
  margin: 0;
}

.time
{
  text-align: center;
  width: 9%;
  height: 4.5rem;
  background-color: var(--dark-color);
  color: var(--white-color);
  font-size: 15px;
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);
  text-transform: uppercase;
  margin: 0;
}


tbody .tt
{
  text-align: center;
  font-size: 12px;
  color: var(--dark-color);
  font-family:  var(--font-family-sans-serif);
  text-transform: uppercase;
  margin: 0;
  border-right: 0.1rem   ridge rgb(53, 53, 53);
  border-bottom: 0.1rem   ridge rgb(53, 53, 53);
}

tbody span
{
  display: block;
}
