
:root {
  
  --primary-color: #f13a11; 
  --white-color: #ffffff;
  --dark-color: #171819;
  --base-font-family: 'Plain', sans-serif;
  --font-weight-bold: bold;
  --font-weight-normal: normal;
  --font-weight-light: 300;
  --font-weight-thin: 100;
  --h1-font-size: 48px;
  --h2-font-size: 36px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --h5-font-size: 22px;
  --h6-font-size: 22px;
  --p-font-size: 18px;
  --base-font-size: 16px;
  --menu-font-size: 14px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

  --gray-color: #909090;
  --light: #f8f9fa;
  --dark: #343a40;
}


a
{
  text-decoration: none;
}


body 
{
  margin: 0;
  background-color: black;
  
}

.navBar
{
  width: 100%;
  height: 70px;
  background-color: var(--dark-color);
  z-index: 1;
  position: fixed;
  font-family: var(--base-font-family);
}

.dropMenu
{
  width: 100%;
  height: 70px;
  background-color: var(--dark-color);
  z-index: 1;
  position: fixed;
  font-family: var(--base-font-family);
}


.navBar .logo-section
{
  width: 22%;
  height: 40px;
  padding: 15px 0 15px 0;
  float: left;
  text-align: center;
}

.navBar .logo-text
{
  color: var(--primary-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-bold);

}

.navBar .buttons-section
{
  width: 78%;
  height: 20px;
  padding: 25px 0 25px 0;
  float: right;
}

.buttons-section .button
{
  float: left;
  height: 18px;
  margin: 0 10px 0 10px;  
}

.buttons-section .button a
{
    color: var(--white-color);
    font-size: var(--menu-font-size);
    font-weight: var(--font-weight-normal);
    text-transform: uppercase;
    padding: 2px 6px;
}

.buttons-section .icon
{
  float: right;
  height: 18px;
  margin: 0 7px 0 7px;  
}

.buttons-section .icon i
{
    color: var(--white-color);
    font-size: 20px;
    font-weight: var(--font-weight-normal);
    text-transform: uppercase;
    padding: 2px 6px;
}

.buttons-section .menu
{
  float: left;
  height: 35px;
  width: 35px;
  margin: 0 7px 0 20px;  
  display: none;
  background-image: url("../images/menu.png");
}


.buttons-section .menu:hover
{
  background-image: url("../images/menu2.png");
}


.buttons-section .close
{
  float: left;
  height: 35px;
  width: 35px;
  margin: 0 7px 0 20px;  
  display: none;
  background-image: url("../images/close.png");
}


.buttons-section .close:hover
{
  background-image: url("../images/close2.png");
}


.navBar a:hover ,.navBar i:hover , .navBar a:active, .navBar i:active
{
  color: var(--primary-color);
  transition: 0.3s;
}

.space
{
  height: 120px;
  width: 100%;
  display: none;
}



.hero-image 
{
  background-image: linear-gradient(rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.5)), url("../images/cover.jpg");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.hero-text {
  width: 70%;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1
{
  color: var(--white-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
  margin: 0;
  font-family:  var(--font-family-sans-serif);
}

.hero-text h3
{
  color: var(--primary-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-sans-serif);
  margin: 0;
}

.hero-text .b1
{
  width: 140px;
  height: 50px;
  margin: 5px;
  color: var(--white-color);
  background-color: #f13a1100;
  border-style: none;
  border: 1px solid var(--white-color);

}

.hero-text .b1:hover
{
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}


.hero-text .b2
{
  width: 140px;
  height: 50px;
  margin: 5px;
  color: var(--primary-color);
  background-color: #f13a1100;
  border-style: none;
  border: 1px solid var(--primary-color);
}

.hero-text .b2:hover
{
  border: 1px solid var(--white-color);
  background-color: var(--white-color);
}

.section-2
{
  height: 65%;
  width: 100%;
  background-color: var(--dark-color);

}

.section-2 .left
{
  float: left;
  width: 65%;
  height: 100%;

}

.section-2 .right
{
  float: right;
  width: 35%;
  height: 100%;

}

.left .hero-text1 {

  width: 60%;
  text-align: left;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.left .hero-text1 h2
{
  color: var(--white-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);
  margin-top: 0;
}

.left .hero-text1 h4
{
  color: var(--white-color);
  font-size: var(--h4-font-size);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-sans-serif);
  margin: 0;
}

.left .hero-text1 h5
{
  color: var(--white-color);
  font-size: 15px;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-sans-serif);

}

.left .hero-text1 .mb
{
  width: 100%;
  height: 50px;
  margin: 5px;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-style: none;
}

.left .hero-text1 .mb:hover
{
  background-color: var(--white-color);
  color: var(--primary-color);
}

.right .hero-text1 {

  width: 100%;
  text-align: left;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border-left: 1px solid grey;
  padding-left: 30px;
}

.right .hero-text1 h2
{
  
  color: var(--white-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);
  
}

.right .hero-text1 h4
{
  margin: 0.4rem;
  color: var(--white-color);
  font-size: var(--h4-font-size);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-sans-serif);
  display: inline-block;
}

.right .hero-text1 h5
{
  margin: 0;
  color: var(--white-color);
  font-size: 15px;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-sans-serif);
  display: inline-block;
}

.section-3
{
  height: 50%;
  width: 100%;
  background-color: var(--white-color);
}

.section-3 .left
{
  float: left;
  width: 40%;
  height: 100%;
  background-color: var(--white-color);
}

.section-3 .right
{
  float: right;
  width: 60%;
  height: 100%;
}

.section-3 .left .hero-text1 {

  width: 80%;
  text-align: left;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.section-3 .left .hero-text1 h2
{
  color: var(--dark-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);

}

.section-3 .left .hero-text1 h5
{
  color: var(--dark-color);
  font-size: 15px;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-sans-serif);

}

.section-3 .right .card1, .section-3 .right .card2, .section-3 .right .card3{
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25%;
  height: 70%;
  margin: 7% 3% 0 3% ;
  float: left;
}


.section-3 .hero-image
{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75%;
}

.section-3 .right .card1 .hero-image
{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/t1.jpg");
}

.section-3 .right .card2 .hero-image
{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/t2.jpg");
}

.section-3 .right .card3 .hero-image
{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/t3.jpg");
}

.section-3 .right h3
{
  color: var(--dark-color);
  font-size: 17px;
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);
  margin: 10px 0 0 0;
}

.section-3 .right h5
{
  color: var(--dark-color);
  font-size: 12px;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-sans-serif);
  margin: 0;
}


.section-3 .right .card1:hover,.section-3 .right .card2:hover,.section-3 .right .card3:hover {
  background-color: rgb(180, 180, 180);
  color: aliceblue;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  margin-left: 4%;
  margin-right: 4%;
}



.section-4
{
  height: 80%;
  width: 100%;
  background-color: var(--dark-color);
}

.section-4 .top
{
  width: 100%;
  height: 15%;
  padding-top: 3%;
  text-align: center;
}

.section-4 .bottom
{
  width: 100%;
  height: 85%;
}


.section-4 .top h2
{
  color: var(--white-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);
  margin: 0;
}


.section-4 .bottom .card{
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  height: 75%;
  margin: 2.3% 2.3% 2.3% 2.3%;
  float: left;
  border-radius: 2%;
}

.section-4 .curtain
{
  float: left;
  width: 100%;
  height: 70%;
  opacity: 0;
  background-color: var(--dark-color);
  
}


.section-4  i{

  color: var(--primary-color);
  font-size: 3rem;
  position: relative;
  top: 45%;
  opacity: inherit;
  
}

.section-4 i:hover{
  color: var(--white-color);
}



.section-4 .hero-image
{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70%;
  border-radius: 2%;
}


.section-4 .bottom .card .hero-image
{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/p1.jpg");
}


.section-4 .bottom .container
{
  margin-top: 8%;
  
}
.section-4 .bottom h3
{
  color: var(--white-color);
  font-size: 17px;
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);
  margin: 0;
}

.section-4 .bottom h5
{
  color: var(--primary-color);
  font-size: 0.9rem;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-sans-serif);
  margin: 3% 0 0 0;
}


.section-4 .bottom .card:hover{
  background-color: rgb(56, 56, 56);
  color: aliceblue;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  margin-left: 3%;
  margin-right: 3%;
}


.section-4 .bottom .card:hover .curtain
{
  opacity: 0.9;
}



.section-6
{
  text-align: center;
  width: 100%;
  height: 80%;
  background-color: var(--dark-color);
}

.section-6 .program
{
  width: 100%;
  height: 15%;
  text-align: center;
  padding-top: 3%;
} 

.section-6 .program h2
{
  color: var(--white-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);
  margin: 0;

}


.timeTable
{
  margin-left: 10%;
  width: 80%;
  height: 85%;
}

table
{
  width: 100%;
  height: auto;
}

 .days
{
  width: 14%;
  height: 3rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 17px;
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);
  margin: 0;
}

.time
{
  text-align: center;
  width: 8%;
  height: 4.5rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 15px;
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);
  text-transform: uppercase;
  margin: 0;
}

tbody .tt
{
  text-align: center;
  font-size: 12px;
  color: var(--white-color);
  font-family:  var(--font-family-sans-serif);
  text-transform: uppercase;
  margin: 0;
  border-right: 0.1rem   ridge rgb(53, 53, 53);
  border-bottom: 0.1rem   ridge rgb(53, 53, 53);
}

tbody span
{
  display: block;
}


.section-5
{
  height: 80%;
  width: 100%;
  background-color: var(--white-color);
}

.section-5 .top
{
  width: 100%;
  height: 15%;
  padding-top: 3%;
  text-align: center;
}

.section-5 .bottom
{
  width: 100%;
  height: 85%;
}


.section-5 .top h2
{
  color: var(--dark-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);
  margin: 0;
}


.section-5 .bottom .card1{
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  width: 25%;
  height: auto;
  margin: 2% 2.3% 2.3% 22%;
  float: left;
  border: 2px ridge rgb(31, 31, 31);
  border-radius: 2%;
  color: var(--dark-color);
}

.section-5 .bottom .card2{
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s;
  width: 25%;
  height: auto;
  margin: 2% 2.3% 2.3% 2.3%;
  float: left;
  border: 2px ridge rgb(31, 31, 31);
  border-radius: 2%;
  color: var(--dark-color);
}

.section-5 .tab1 ,.section-5 .tab2
{

  margin-top: 7%;
  width: 100%;
  height: 12%;
  opacity: 0;
}


.section-5  i{

  color: inherit;
  font-size: 4rem;
  margin: 6% 0 6% 0;
  
}


.section-5 .bottom h3
{
  color: inherit;
  font-size: 1.8rem;
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);
  margin: 8% 0 0 0;
}

.section-5 .bottom h5
{
  color: inherit;
  font-size: 0.9rem;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-sans-serif);
  margin: 3% 0 0 10%;
  width: 80%;
}

.section-5 .button
{
  float: left;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-family:  var(--font-family-sans-serif);
  font-size: 1rem;
  width: 30%;
  line-height: 2rem;
  height: 2rem;
  margin: 0 0 0 13%;
  border-radius: 5%;
}


.section-5 .button:hover
{
  background-color: var(--white-color);
  color: var(--dark-color);
}


.section-5 .bottom .card1:hover,.section-5 .bottom .card2:hover{
  background-color: var(--dark-color);
  color: var(--white-color);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}



.section-5 .bottom .card1:hover .tab1
{
  opacity: 1;
}

.section-5 .bottom .card2:hover .tab2
{
  opacity: 1;
}



.section-7
{
  height: 80%;
  width: 100%;
  background-color: var(--dark-color);
}

.section-7 .top
{
  width: 100%;
  height: 15%;
  padding-top: 3%;
  text-align: center;
}

.section-7 .bottom
{
  width: 100%;
  height: 85%;
}


.section-7 .top h2
{
  color: var(--white-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);
  margin: 0;
}


.section-7 .bottom .card1, .section-7 .bottom .card2, .section-7 .bottom .card3{
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  height: 75%;
  margin: 2.3% 2.3% 2.3% 2.3%;
  float: left;
  border-radius: 2%;
}

.section-7 .hero-image
{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70%;
  border-radius: 2%;
}


.section-7 .bottom .card1 .hero-image
{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/e1.jpg");
}

.section-7 .bottom .card2 .hero-image
{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/e2.jpg");
}

.section-7 .bottom .card3 .hero-image
{
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/e3.jpg");
}

.section-7 .bottom .container
{
  margin-top: 8%;
}

.section-7 .bottom h3
{
  color: var(--white-color);
  font-size: 17px;
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);
  margin: 0;
}

.section-7 .bottom h5
{
  color: var(--primary-color);
  font-size: 0.9rem;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-sans-serif);
  margin: 3% 0 0 0;
}


.section-7 .bottom .card1:hover,.section-7 .bottom .card2:hover,.section-7 .bottom .card3:hover{
  background-color: rgb(56, 56, 56);
  color: aliceblue;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  margin-left: 3%;
  margin-right: 3%;
}




.section-8
{
  height: 65%;
  width: 100%;
  background-color: var(--white-color);
  color: var(--dark-color);
  text-align: center;
}


.section-8 .hero-text1 {

  width: 40%;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.section-8 .hero-text1 h2
{
  color: inherit;
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
  font-family:  var(--font-family-sans-serif);
  margin-top: 0;
}

.section-8 .hero-text1 h4
{
  color: inherit;
  font-size: var(--h4-font-size);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-sans-serif);
  margin: 0;
}

.section-8 .hero-text1 h5
{
  color: inherit;
  font-size: 15px;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-sans-serif);

}

.section-8 .hero-text1 .mb
{
  width: 40%;
  height: 50px;
  margin: 5px;
  color:var(--dark-color);
  background-color: inherit;
  border: 2px ridge var(--dark-color);
  border-radius: 5px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-sans-serif);
}

.section-8 .hero-text1 .mb:hover
{
  background-color: var(--dark-color);
  color: var(--white-color);
}


.section-8  i{

  color: inherit;
  font-size: 4rem;
  margin: 0 0 0 0;
  
}



@media only screen and (max-width: 1100px) and (min-width: 860px){
  
  .navBar
  {
    height: 120px;
  }


  .navBar .logo-section
{
  width: 100%;
  padding: 15px 0 0 0;
  float: none;
}

.navBar .logo-text
{
  font-size: 34px;
}


  .navBar .buttons-section
  {
    width: 100%;
    margin: 0;
  }

  .buttons-section .button
{
  height: 18px;
  margin: 0 10px 0 10px;  
}

.space
{
  display: block;
}


.section-3 .left .hero-text1 h2
{
  font-size: 28px;
}

.section-3 .right h3
{
  font-size: 14px;
}

}






@media only screen and (max-width: 859px) {
  
  
/* .navBar
{
  width: 100%;
  height: 550px;
  opacity: 0.8;  
}


.navBar .logo-section
{
  display:  none;
}


.navBar .buttons-section
{
  width: 100%;
  margin: 0;
  text-align: center;
}

  .buttons-section .button
{
  width: 100%;
  display: block;
  margin-top: 40px;
  text-align: center;
}

.buttons-section .icon
{
  display: inline-block;
  margin-top: 40px;
  float: none;
} */


.navBar
{
  width: 100%;
  height: 70px;  
}


.navBar .logo-section
{
  display:  none;
}


.navBar .buttons-section
{
  width: 100%;
  margin: 0;
}

  .buttons-section .button , .buttons-section .icon
{
  display: none;
}





.space
{
  height: 70px;
  display: block;
}

.buttons-section .menu
{ 
  display: inline-block;
}


.hero-image .hero-text h3
{
  font-size: 15px;
}

.hero-image .hero-text h1
{
  font-size: 35px;
}

.section-3 .left .hero-text1 h2
{
  font-size: 28px;
}

.section-3 .right h3
{
  font-size: 14px;
}

.section-2 .left
{
  float: none;
  width: 100%;

}

.section-2 .right
{
  display: none;
}

.left .hero-text1 {

  width: 90%;
  
}


.section-3
{
  height: 100%;
}

.section-3 .left
{
  float: none;
  width: 100%;
  height: 50%;
  text-align: center;
}

.section-3 .right
{
  float: none;
  width: 100%;
  height: 100%;
  text-align: center;
}


.section-3 .left .hero-text1 h2
{
  text-align: center;
}

.section-3 .left .hero-text1 h5
{

  text-align: center;
}


.section-3 .right .card1, .section-3 .right .card2, .section-3 .right .card3{
  text-align: center;
  width: 150px;
  height: 220px;
  margin: 5% 0 5% 0;
  float: none;
  display: inline-block;
}

.section-3 .right .card1:hover,.section-3 .right .card2:hover,.section-3 .right .card3:hover {
  margin: 5% 0 5% 0;
}


.section-4
{
  height: 130%;
}

.section-4 .bottom
{
  width: 100%;
  height: 105%;
  text-align: center;
}


.section-4 .bottom .card{
  display: inline-block;
  width: 200px;
  height: 320px;
  margin: 2.3% 2.3% 2.3% 2.3%;
  float: none;
}

.section-5 .bottom
{
  text-align: center;
}



.section-5 .bottom .card1, .section-5 .bottom .card2
{
  width: 220px;
  height: 330px;
  margin: 5% 0 5% 0;
  float: none;
  display: inline-block;
}


.section-8 .hero-text1 {

  width: 70%;
 

}

}


